
<!DOCTYPE html>
<html>
<head>
<title>HandsMade</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript">
	
	 addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 

</script>

<link rel="stylesheet" href="css/lightbox.css" type="text/css"
	media="all" />
<!--owl-css-->
<link href="css/owl.carousel.css" rel="stylesheet">
<!--bootstrap-->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--coustom css-->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<!--default-js-->
<script src="js/jquery-2.1.4.min.js"></script>
<!--menu_jqueryLogin-js-->
<script src="js/menu_jqueryLogin.js"></script>
<!--bootstrap-js-->
<script src="js/bootstrap.min.js"></script>
<!--script-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>

</head>
<!--body-->
<body>
		<!-------------Header---------------->

	<div class="container">
		<div class="row">

			<header>
				<div class="logo col-xs-12 col-md-3">
					<a href="index.html"> <img src="images/logo (3).jpg"
						class="animated  hinge img-responsive ">
					</a>
				</div>
				<div class="nombreEmpresa col-xs-6 col-md-6">
					<h1>
						<a href="index.html"><span>Hands</span>Made</a>
					</h1>

				</div>
				<div class="todo col-xs-12 col-md-3">
					<div class="row rowTranslate">

						<div class="traslate col-xs-7 col-md-12">
							<!-- traslate -->
							<a href="#" title="page traslate ">English page </a>

							<!-- End traslate -->
						</div>
					</div>
					<div class="row">

						<div class=" col-xs-6 col-md-12">
							<div class="dropdown-grids">
								<div id="loginContainer">
									<a id="loginButton"><span>Login</span></a>
									<div style="display: none;" id="loginBox">
										<form id="loginForm">
											<div class="login-grids">
												<div class="login-grid-left">
													<fieldset id="body">
														<fieldset>
															<label for="email">Email Address</label> <input
																name="email" id="email" type="text">
														</fieldset>
														<fieldset>
															<label for="password">Password</label> <input
																name="password" id="password" type="password">
														</fieldset>
														<input id="login" value="Sign in" type="submit"> <label
															for="checkbox"><input id="checkbox"
															type="checkbox"> <i>Remember me</i></label>
													</fieldset>
													<span><a href="#">Forgot your password?</a></span>
													<div class="or-grid">
														<p>OR</p>
													</div>
													<div class="social-sits">
														<div class="facebook-button">
															<a href="#">Connect with Facebook</a>
														</div>
														<div class="chrome-button">
															<a href="#">Connect with Google</a>
														</div>
														<div class="button-bottom">
															<p>
																New account? <a href="signup.html">Signup</a>
															</p>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row rowSearch">
						<div class="search col-xs-12 col-md-9">

							<form method="post" action="search.html">
								<input type="text" name="query" id="query" placeholder="Search…"
									autocomplete="off" value="">
							</form>
						</div>
						<div class="mini-cart col-xs-7 col-md-1">
							<!-- Mini cart -->
							<a href="cart.html" title="Go to cart →"> <span>3</span>
							</a>
							<!-- End class="mini-cart" -->
						</div>
					</div>
				</div>
			</header>
		</div>
	</div>

	<!----------Fin header--------------->

	<!-----------Menu de navegacion------------->
	
			<nav class="navbar navbar-default nav-dflt-setin">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header nav-min-wid">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<h1>
							<a class="navbar-brand" href="index.html"></a>
						</h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse "
						id="bs-example-navbar-collapse-1">

						<ul class="nav navbar-nav nav-max-wid cl-effect-5"
							id="cl-effect-5">
					<li><a href="index.html"><span data-hover="Inicio"
							>Inicio</span></a></li>
					<li><a href="tienda.html"><span data-hover="Tienda" class="active">Tienda</span></a></li>
										<li><a href="galeria.html"><span data-hover="Galeria">Galeria</span></a></li>
							<li><a href="nosotros.html"><span data-hover="Nosotros">Nosotros</span></a></li>
							<li><a href="contacto.html"><span data-hover="Contacto">Contacto</span></a></li>
							<li><a href="carrito.html"><span data-hover="Carrito">Carrito</span></a></li>
						</ul>

					</div>
					<!-- /.navbar-collapse -->
					<div class="clearfix"></div>
				</div>
				<!-- /.container-fluid -->
			</nav>
		
		
		
			<div id="mycarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#mycarousel" data-slide-to="0" class="active"></li>
					<li data-target="#mycarousel" data-slide-to="1"></li>
					<li data-target="#mycarousel" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="images/velas.jpg" alt="banner" class="banner-wid">
						<div class="carousel-caption">
							<h3>Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. Lorem Ipsum has been the industry's
								standard dummy text</h3>
						</div>
					</div>
					<div class="item">
						<img src="images/marcos.jpg" alt="banner" class="banner-wid">
						
					</div>
					<div class="item">
						<img src="images/caballos.jpg" alt="banner" class="banner-wid">
						
					</div>
				</div>
				<!-- Controls -->

			</div>
		
	
	<!--fin del menu de navegacion-->

	<!-- tienda -->
	<section ng-if="galleryVM.isLoaded &amp;&amp; galleryVM.products.length > 0" class="clearfix">

        <ul ng-class="['columns-'+galleryVM.getColumns(), 'image-ratio-'+galleryVM.getImageRatio()]" data-hook="products-container" class="products-grid columns-4 image-ratio-1-1">
            <!-- ngRepeat: row in galleryVM.products | chunk: galleryVM.getColumns() --><li class="gallery-items-row" data-hook="info-section-row-1" ng-repeat="row in galleryVM.products | chunk: galleryVM.getColumns()">
                    <!-- ngRepeat: item in row --><product-item ng-model="item" data-hook="product" class="product-media-container item ng-pristine ng-untouched ng-valid alternate" ng-repeat="item in row" item-index="galleryVM.getProductIndexById()" ng-class="{previewhover : galleryVM.isShowPreview()}"><div class="product-item" data-hook="product-item">
    <!-- ngIf: $ctrl.isProductReal() --><div class="product-media" data-hook="product-media" ng-if="$ctrl.isProductReal()">
        <a section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openProductPage()" section-params="$ctrl.ngModel.id" data-hook="image-link" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/7e952464-1dcb-593d-0e68-b93d4a2c19de">

            <product-image ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><!-- ngIf: $ctrl.ngModel.media.length > 0 --><img ng-if="$ctrl.ngModel.media.length > 0" class="media-item active crop" alt="WOODEN CHAIR" ng-src="http://static.wixstatic.com/media/84770f_846b3eb4a2424c6ca3e20381f6a37b12.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz" data-hook="image" ng-class="$ctrl.getImageModeClass()" src="http://static.wixstatic.com/media/84770f_846b3eb4a2424c6ca3e20381f6a37b12.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz"><!-- end ngIf: $ctrl.ngModel.media.length > 0 -->

<!-- ngIf: $ctrl.ngModel.media.length > 1 --><img ng-if="$ctrl.ngModel.media.length > 1" class="media-item crop" alt="WOODEN CHAIR" ng-src="http://static.wixstatic.com/media/84770f_9e9aeeff55304a44aaccc5aabb4140f4.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz" data-hook="alternate-image" ng-class="$ctrl.getImageModeClass()" src="http://static.wixstatic.com/media/84770f_9e9aeeff55304a44aaccc5aabb4140f4.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz"><!-- end ngIf: $ctrl.ngModel.media.length > 1 -->

<!-- ngIf: $ctrl.ngModel.media.length === 0 --></product-image>
            <product-ribbon ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><span class="ribbon ng-hide" ng-show="::$ctrl.ngModel.ribbon" data-hook="ribbon">
            <a>
                
            </a>
</span></product-ribbon>
        </a>
            <product-quick-view ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><!-- ngIf: $ctrl.showQuickView() --><div class="overlay" data-hook="open-product" ng-if="$ctrl.showQuickView()">
    <a class="action quickview" section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openQuickView()" section-params="$ctrl.ngModel.id" data-hook="quick-view" translate="QUICKֹֹֹ_VIEW" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/7e952464-1dcb-593d-0e68-b93d4a2c19de">QUICK VIEW</a>
</div><!-- end ngIf: $ctrl.showQuickView() --></product-quick-view>
    </div><!-- end ngIf: $ctrl.isProductReal() -->
    <!-- ngIf: $ctrl.isProductReal() && $ctrl.isDetailsVisible() --><div class="product-details" section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openProductPage()" section-params="$ctrl.ngModel.id" data-hook="product-details" ng-if="$ctrl.isProductReal() &amp;&amp; $ctrl.isDetailsVisible()" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/7e952464-1dcb-593d-0e68-b93d4a2c19de">

        <!-- ngIf: $ctrl.showProductName() --><product-title data-hook="product-title" ng-if="$ctrl.showProductName()" ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><h3 class="title product-title" data-hook="title-wrapper">
    <a data-hook="title">WOODEN CHAIR</a>
</h3></product-title><!-- end ngIf: $ctrl.showProductName() -->
        <!-- ngIf: $ctrl.showProductDividers() -->
        <!-- ngIf: $ctrl.showProductPrice() --><product-price data-hook="product-price" ng-if="$ctrl.showProductPrice()" ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><div data-hook="price-wrapper">
    <!-- ngIf: ::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' && $ctrl.ngModel.price !== 0 --><div ng-if="::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' &amp;&amp; $ctrl.ngModel.price !== 0">
            <span class="price" ng-class="::{'is-price-compare': $ctrl.ngModel.formattedComparePrice}" data-hook="price">$158.00</span>
            <!-- ngIf: ::$ctrl.ngModel.formattedComparePrice -->
    </div><!-- end ngIf: ::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' && $ctrl.ngModel.price !== 0 -->
    <!-- ngIf: ::$ctrl.ngModel.inventoryStatus === 'out_of_stock' -->
</div></product-price><!-- end ngIf: $ctrl.showProductPrice() -->
    </div><!-- end ngIf: $ctrl.isProductReal() && $ctrl.isDetailsVisible() -->

    <!-- ngIf: !$ctrl.isProductReal() -->
</div></product-item><!-- end ngRepeat: item in row --><product-item ng-model="item" data-hook="product" class="product-media-container item ng-pristine ng-untouched ng-valid alternate" ng-repeat="item in row" item-index="galleryVM.getProductIndexById()" ng-class="{previewhover : galleryVM.isShowPreview()}"><div class="product-item" data-hook="product-item">
    <!-- ngIf: $ctrl.isProductReal() --><div class="product-media" data-hook="product-media" ng-if="$ctrl.isProductReal()">
        <a section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openProductPage()" section-params="$ctrl.ngModel.id" data-hook="image-link" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/1748f2e2-2f83-7f1c-531a-f424d6545342">

            <product-image ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><!-- ngIf: $ctrl.ngModel.media.length > 0 --><img ng-if="$ctrl.ngModel.media.length > 0" class="media-item active crop" alt="WOOD FLOOR LAMP" ng-src="http://static.wixstatic.com/media/84770f_2ff29ff6663a4d619983458cb0899264.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz" data-hook="image" ng-class="$ctrl.getImageModeClass()" src="http://static.wixstatic.com/media/84770f_2ff29ff6663a4d619983458cb0899264.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz"><!-- end ngIf: $ctrl.ngModel.media.length > 0 -->

<!-- ngIf: $ctrl.ngModel.media.length > 1 --><img ng-if="$ctrl.ngModel.media.length > 1" class="media-item crop" alt="WOOD FLOOR LAMP" ng-src="http://static.wixstatic.com/media/84770f_07b37235e2394a1bb679d4c99c2485d2.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz" data-hook="alternate-image" ng-class="$ctrl.getImageModeClass()" src="http://static.wixstatic.com/media/84770f_07b37235e2394a1bb679d4c99c2485d2.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz"><!-- end ngIf: $ctrl.ngModel.media.length > 1 -->

<!-- ngIf: $ctrl.ngModel.media.length === 0 --></product-image>
            <product-ribbon ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><span class="ribbon ng-hide" ng-show="::$ctrl.ngModel.ribbon" data-hook="ribbon">
            <a>
                
            </a>
</span></product-ribbon>
        </a>
            <product-quick-view ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><!-- ngIf: $ctrl.showQuickView() --><div class="overlay" data-hook="open-product" ng-if="$ctrl.showQuickView()">
    <a class="action quickview" section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openQuickView()" section-params="$ctrl.ngModel.id" data-hook="quick-view" translate="QUICKֹֹֹ_VIEW" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/1748f2e2-2f83-7f1c-531a-f424d6545342">QUICK VIEW</a>
</div><!-- end ngIf: $ctrl.showQuickView() --></product-quick-view>
    </div><!-- end ngIf: $ctrl.isProductReal() -->
    <!-- ngIf: $ctrl.isProductReal() && $ctrl.isDetailsVisible() --><div class="product-details" section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openProductPage()" section-params="$ctrl.ngModel.id" data-hook="product-details" ng-if="$ctrl.isProductReal() &amp;&amp; $ctrl.isDetailsVisible()" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/1748f2e2-2f83-7f1c-531a-f424d6545342">

        <!-- ngIf: $ctrl.showProductName() --><product-title data-hook="product-title" ng-if="$ctrl.showProductName()" ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><h3 class="title product-title" data-hook="title-wrapper">
    <a data-hook="title">WOOD FLOOR LAMP</a>
</h3></product-title><!-- end ngIf: $ctrl.showProductName() -->
        <!-- ngIf: $ctrl.showProductDividers() -->
        <!-- ngIf: $ctrl.showProductPrice() --><product-price data-hook="product-price" ng-if="$ctrl.showProductPrice()" ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><div data-hook="price-wrapper">
    <!-- ngIf: ::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' && $ctrl.ngModel.price !== 0 --><div ng-if="::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' &amp;&amp; $ctrl.ngModel.price !== 0">
            <span class="price" ng-class="::{'is-price-compare': $ctrl.ngModel.formattedComparePrice}" data-hook="price">$128.00</span>
            <!-- ngIf: ::$ctrl.ngModel.formattedComparePrice -->
    </div><!-- end ngIf: ::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' && $ctrl.ngModel.price !== 0 -->
    <!-- ngIf: ::$ctrl.ngModel.inventoryStatus === 'out_of_stock' -->
</div></product-price><!-- end ngIf: $ctrl.showProductPrice() -->
    </div><!-- end ngIf: $ctrl.isProductReal() && $ctrl.isDetailsVisible() -->

    <!-- ngIf: !$ctrl.isProductReal() -->
</div></product-item><!-- end ngRepeat: item in row --><product-item ng-model="item" data-hook="product" class="product-media-container item ng-pristine ng-untouched ng-valid alternate" ng-repeat="item in row" item-index="galleryVM.getProductIndexById()" ng-class="{previewhover : galleryVM.isShowPreview()}"><div class="product-item" data-hook="product-item">
    <!-- ngIf: $ctrl.isProductReal() --><div class="product-media" data-hook="product-media" ng-if="$ctrl.isProductReal()">
        <a section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openProductPage()" section-params="$ctrl.ngModel.id" data-hook="image-link" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/b98d79df-8ade-80eb-cd2e-e13b21cc8b9f">

            <product-image ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><!-- ngIf: $ctrl.ngModel.media.length > 0 --><img ng-if="$ctrl.ngModel.media.length > 0" class="media-item active crop" alt="LOW PILE RUG" ng-src="http://static.wixstatic.com/media/84770f_d53e8acab8b245a9af9d4d94393c9f35.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz" data-hook="image" ng-class="$ctrl.getImageModeClass()" src="http://static.wixstatic.com/media/84770f_d53e8acab8b245a9af9d4d94393c9f35.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz"><!-- end ngIf: $ctrl.ngModel.media.length > 0 -->

<!-- ngIf: $ctrl.ngModel.media.length > 1 --><img ng-if="$ctrl.ngModel.media.length > 1" class="media-item crop" alt="LOW PILE RUG" ng-src="http://static.wixstatic.com/media/84770f_b091b272fe5d4a56a44bb36e8ce6ee84.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz" data-hook="alternate-image" ng-class="$ctrl.getImageModeClass()" src="http://static.wixstatic.com/media/84770f_b091b272fe5d4a56a44bb36e8ce6ee84.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz"><!-- end ngIf: $ctrl.ngModel.media.length > 1 -->

<!-- ngIf: $ctrl.ngModel.media.length === 0 --></product-image>
            <product-ribbon ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><span class="ribbon ng-hide" ng-show="::$ctrl.ngModel.ribbon" data-hook="ribbon">
            <a>
                
            </a>
</span></product-ribbon>
        </a>
            <product-quick-view ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><!-- ngIf: $ctrl.showQuickView() --><div class="overlay" data-hook="open-product" ng-if="$ctrl.showQuickView()">
    <a class="action quickview" section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openQuickView()" section-params="$ctrl.ngModel.id" data-hook="quick-view" translate="QUICKֹֹֹ_VIEW" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/b98d79df-8ade-80eb-cd2e-e13b21cc8b9f">QUICK VIEW</a>
</div><!-- end ngIf: $ctrl.showQuickView() --></product-quick-view>
    </div><!-- end ngIf: $ctrl.isProductReal() -->
    <!-- ngIf: $ctrl.isProductReal() && $ctrl.isDetailsVisible() --><div class="product-details" section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openProductPage()" section-params="$ctrl.ngModel.id" data-hook="product-details" ng-if="$ctrl.isProductReal() &amp;&amp; $ctrl.isDetailsVisible()" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/b98d79df-8ade-80eb-cd2e-e13b21cc8b9f">

        <!-- ngIf: $ctrl.showProductName() --><product-title data-hook="product-title" ng-if="$ctrl.showProductName()" ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><h3 class="title product-title" data-hook="title-wrapper">
    <a data-hook="title">LOW PILE RUG</a>
</h3></product-title><!-- end ngIf: $ctrl.showProductName() -->
        <!-- ngIf: $ctrl.showProductDividers() -->
        <!-- ngIf: $ctrl.showProductPrice() --><product-price data-hook="product-price" ng-if="$ctrl.showProductPrice()" ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><div data-hook="price-wrapper">
    <!-- ngIf: ::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' && $ctrl.ngModel.price !== 0 --><div ng-if="::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' &amp;&amp; $ctrl.ngModel.price !== 0">
            <span class="price" ng-class="::{'is-price-compare': $ctrl.ngModel.formattedComparePrice}" data-hook="price">$89.00</span>
            <!-- ngIf: ::$ctrl.ngModel.formattedComparePrice -->
    </div><!-- end ngIf: ::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' && $ctrl.ngModel.price !== 0 -->
    <!-- ngIf: ::$ctrl.ngModel.inventoryStatus === 'out_of_stock' -->
</div></product-price><!-- end ngIf: $ctrl.showProductPrice() -->
    </div><!-- end ngIf: $ctrl.isProductReal() && $ctrl.isDetailsVisible() -->

    <!-- ngIf: !$ctrl.isProductReal() -->
</div></product-item><!-- end ngRepeat: item in row --><product-item ng-model="item" data-hook="product" class="product-media-container item ng-pristine ng-untouched ng-valid alternate" ng-repeat="item in row" item-index="galleryVM.getProductIndexById()" ng-class="{previewhover : galleryVM.isShowPreview()}"><div class="product-item" data-hook="product-item">
    <!-- ngIf: $ctrl.isProductReal() --><div class="product-media" data-hook="product-media" ng-if="$ctrl.isProductReal()">
        <a section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openProductPage()" section-params="$ctrl.ngModel.id" data-hook="image-link" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/ef3db65e-5235-02f2-869a-f2fb2ee1ed87">

            <product-image ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><!-- ngIf: $ctrl.ngModel.media.length > 0 --><img ng-if="$ctrl.ngModel.media.length > 0" class="media-item active crop" alt="KNITTED THROW" ng-src="http://static.wixstatic.com/media/84770f_604877bf317e405eb76aa207fbc71bb8.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz" data-hook="image" ng-class="$ctrl.getImageModeClass()" src="http://static.wixstatic.com/media/84770f_604877bf317e405eb76aa207fbc71bb8.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz"><!-- end ngIf: $ctrl.ngModel.media.length > 0 -->

<!-- ngIf: $ctrl.ngModel.media.length > 1 --><img ng-if="$ctrl.ngModel.media.length > 1" class="media-item crop" alt="KNITTED THROW" ng-src="http://static.wixstatic.com/media/84770f_d2ead568ea7940a7aabf547b12f955f1.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz" data-hook="alternate-image" ng-class="$ctrl.getImageModeClass()" src="http://static.wixstatic.com/media/84770f_d2ead568ea7940a7aabf547b12f955f1.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz"><!-- end ngIf: $ctrl.ngModel.media.length > 1 -->

<!-- ngIf: $ctrl.ngModel.media.length === 0 --></product-image>
            <product-ribbon ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><span class="ribbon ng-hide" ng-show="::$ctrl.ngModel.ribbon" data-hook="ribbon">
            <a>
                
            </a>
</span></product-ribbon>
        </a>
            <product-quick-view ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><!-- ngIf: $ctrl.showQuickView() --><div class="overlay" data-hook="open-product" ng-if="$ctrl.showQuickView()">
    <a class="action quickview" section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openQuickView()" section-params="$ctrl.ngModel.id" data-hook="quick-view" translate="QUICKֹֹֹ_VIEW" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/ef3db65e-5235-02f2-869a-f2fb2ee1ed87">QUICK VIEW</a>
</div><!-- end ngIf: $ctrl.showQuickView() --></product-quick-view>
    </div><!-- end ngIf: $ctrl.isProductReal() -->
    <!-- ngIf: $ctrl.isProductReal() && $ctrl.isDetailsVisible() --><div class="product-details" section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openProductPage()" section-params="$ctrl.ngModel.id" data-hook="product-details" ng-if="$ctrl.isProductReal() &amp;&amp; $ctrl.isDetailsVisible()" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/ef3db65e-5235-02f2-869a-f2fb2ee1ed87">

        <!-- ngIf: $ctrl.showProductName() --><product-title data-hook="product-title" ng-if="$ctrl.showProductName()" ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><h3 class="title product-title" data-hook="title-wrapper">
    <a data-hook="title">KNITTED THROW</a>
</h3></product-title><!-- end ngIf: $ctrl.showProductName() -->
        <!-- ngIf: $ctrl.showProductDividers() -->
        <!-- ngIf: $ctrl.showProductPrice() --><product-price data-hook="product-price" ng-if="$ctrl.showProductPrice()" ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><div data-hook="price-wrapper">
    <!-- ngIf: ::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' && $ctrl.ngModel.price !== 0 --><div ng-if="::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' &amp;&amp; $ctrl.ngModel.price !== 0">
            <span class="price" ng-class="::{'is-price-compare': $ctrl.ngModel.formattedComparePrice}" data-hook="price">$39.00</span>
            <!-- ngIf: ::$ctrl.ngModel.formattedComparePrice -->
    </div><!-- end ngIf: ::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' && $ctrl.ngModel.price !== 0 -->
    <!-- ngIf: ::$ctrl.ngModel.inventoryStatus === 'out_of_stock' -->
</div></product-price><!-- end ngIf: $ctrl.showProductPrice() -->
    </div><!-- end ngIf: $ctrl.isProductReal() && $ctrl.isDetailsVisible() -->

    <!-- ngIf: !$ctrl.isProductReal() -->
</div></product-item><!-- end ngRepeat: item in row -->
            </li><!-- end ngRepeat: row in galleryVM.products | chunk: galleryVM.getColumns() --><li class="gallery-items-row" data-hook="info-section-row-2" ng-repeat="row in galleryVM.products | chunk: galleryVM.getColumns()">
                    <!-- ngRepeat: item in row --><product-item ng-model="item" data-hook="product" class="product-media-container item ng-pristine ng-untouched ng-valid alternate" ng-repeat="item in row" item-index="galleryVM.getProductIndexById()" ng-class="{previewhover : galleryVM.isShowPreview()}"><div class="product-item" data-hook="product-item">
    <!-- ngIf: $ctrl.isProductReal() --><div class="product-media" data-hook="product-media" ng-if="$ctrl.isProductReal()">
        <a section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openProductPage()" section-params="$ctrl.ngModel.id" data-hook="image-link" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/06a4da97-38b5-17e9-0bb8-5fa4f3b1365d">

            <product-image ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><!-- ngIf: $ctrl.ngModel.media.length > 0 --><img ng-if="$ctrl.ngModel.media.length > 0" class="media-item active crop" alt="PLANT POTS" ng-src="http://static.wixstatic.com/media/84770f_5011d2326c0b42689dd15646828c36dd.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz" data-hook="image" ng-class="$ctrl.getImageModeClass()" src="http://static.wixstatic.com/media/84770f_5011d2326c0b42689dd15646828c36dd.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz"><!-- end ngIf: $ctrl.ngModel.media.length > 0 -->

<!-- ngIf: $ctrl.ngModel.media.length > 1 --><img ng-if="$ctrl.ngModel.media.length > 1" class="media-item crop" alt="PLANT POTS" ng-src="http://static.wixstatic.com/media/84770f_ac9e70d726634e089a1aaee093978a1a.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz" data-hook="alternate-image" ng-class="$ctrl.getImageModeClass()" src="http://static.wixstatic.com/media/84770f_ac9e70d726634e089a1aaee093978a1a.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz"><!-- end ngIf: $ctrl.ngModel.media.length > 1 -->

<!-- ngIf: $ctrl.ngModel.media.length === 0 --></product-image>
            <product-ribbon ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><span class="ribbon ng-hide" ng-show="::$ctrl.ngModel.ribbon" data-hook="ribbon">
            <a>
                
            </a>
</span></product-ribbon>
        </a>
            <product-quick-view ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><!-- ngIf: $ctrl.showQuickView() --><div class="overlay" data-hook="open-product" ng-if="$ctrl.showQuickView()">
    <a class="action quickview" section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openQuickView()" section-params="$ctrl.ngModel.id" data-hook="quick-view" translate="QUICKֹֹֹ_VIEW" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/06a4da97-38b5-17e9-0bb8-5fa4f3b1365d">QUICK VIEW</a>
</div><!-- end ngIf: $ctrl.showQuickView() --></product-quick-view>
    </div><!-- end ngIf: $ctrl.isProductReal() -->
    <!-- ngIf: $ctrl.isProductReal() && $ctrl.isDetailsVisible() --><div class="product-details" section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openProductPage()" section-params="$ctrl.ngModel.id" data-hook="product-details" ng-if="$ctrl.isProductReal() &amp;&amp; $ctrl.isDetailsVisible()" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/06a4da97-38b5-17e9-0bb8-5fa4f3b1365d">

        <!-- ngIf: $ctrl.showProductName() --><product-title data-hook="product-title" ng-if="$ctrl.showProductName()" ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><h3 class="title product-title" data-hook="title-wrapper">
    <a data-hook="title">PLANT POTS</a>
</h3></product-title><!-- end ngIf: $ctrl.showProductName() -->
        <!-- ngIf: $ctrl.showProductDividers() -->
        <!-- ngIf: $ctrl.showProductPrice() --><product-price data-hook="product-price" ng-if="$ctrl.showProductPrice()" ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><div data-hook="price-wrapper">
    <!-- ngIf: ::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' && $ctrl.ngModel.price !== 0 --><div ng-if="::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' &amp;&amp; $ctrl.ngModel.price !== 0">
            <span class="price" ng-class="::{'is-price-compare': $ctrl.ngModel.formattedComparePrice}" data-hook="price">$45.00</span>
            <!-- ngIf: ::$ctrl.ngModel.formattedComparePrice -->
    </div><!-- end ngIf: ::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' && $ctrl.ngModel.price !== 0 -->
    <!-- ngIf: ::$ctrl.ngModel.inventoryStatus === 'out_of_stock' -->
</div></product-price><!-- end ngIf: $ctrl.showProductPrice() -->
    </div><!-- end ngIf: $ctrl.isProductReal() && $ctrl.isDetailsVisible() -->

    <!-- ngIf: !$ctrl.isProductReal() -->
</div></product-item><!-- end ngRepeat: item in row --><product-item ng-model="item" data-hook="product" class="product-media-container item ng-pristine ng-untouched ng-valid alternate" ng-repeat="item in row" item-index="galleryVM.getProductIndexById()" ng-class="{previewhover : galleryVM.isShowPreview()}"><div class="product-item" data-hook="product-item">
    <!-- ngIf: $ctrl.isProductReal() --><div class="product-media" data-hook="product-media" ng-if="$ctrl.isProductReal()">
        <a section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openProductPage()" section-params="$ctrl.ngModel.id" data-hook="image-link" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/b8e8edeb-afd8-e044-2598-f50323a19896">

            <product-image ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><!-- ngIf: $ctrl.ngModel.media.length > 0 --><img ng-if="$ctrl.ngModel.media.length > 0" class="media-item active crop" alt="CUSHION COVERS" ng-src="http://static.wixstatic.com/media/84770f_c3e4d7dd87e740ac940ac92c2e99548e.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz" data-hook="image" ng-class="$ctrl.getImageModeClass()" src="http://static.wixstatic.com/media/84770f_c3e4d7dd87e740ac940ac92c2e99548e.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz"><!-- end ngIf: $ctrl.ngModel.media.length > 0 -->

<!-- ngIf: $ctrl.ngModel.media.length > 1 --><img ng-if="$ctrl.ngModel.media.length > 1" class="media-item crop" alt="CUSHION COVERS" ng-src="http://static.wixstatic.com/media/84770f_baa3c5c34a17428f9e6adb90f59f669c.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz" data-hook="alternate-image" ng-class="$ctrl.getImageModeClass()" src="http://static.wixstatic.com/media/84770f_baa3c5c34a17428f9e6adb90f59f669c.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz"><!-- end ngIf: $ctrl.ngModel.media.length > 1 -->

<!-- ngIf: $ctrl.ngModel.media.length === 0 --></product-image>
            <product-ribbon ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><span class="ribbon ng-hide" ng-show="::$ctrl.ngModel.ribbon" data-hook="ribbon">
            <a>
                
            </a>
</span></product-ribbon>
        </a>
            <product-quick-view ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><!-- ngIf: $ctrl.showQuickView() --><div class="overlay" data-hook="open-product" ng-if="$ctrl.showQuickView()">
    <a class="action quickview" section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openQuickView()" section-params="$ctrl.ngModel.id" data-hook="quick-view" translate="QUICKֹֹֹ_VIEW" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/b8e8edeb-afd8-e044-2598-f50323a19896">QUICK VIEW</a>
</div><!-- end ngIf: $ctrl.showQuickView() --></product-quick-view>
    </div><!-- end ngIf: $ctrl.isProductReal() -->
    <!-- ngIf: $ctrl.isProductReal() && $ctrl.isDetailsVisible() --><div class="product-details" section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openProductPage()" section-params="$ctrl.ngModel.id" data-hook="product-details" ng-if="$ctrl.isProductReal() &amp;&amp; $ctrl.isDetailsVisible()" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/b8e8edeb-afd8-e044-2598-f50323a19896">

        <!-- ngIf: $ctrl.showProductName() --><product-title data-hook="product-title" ng-if="$ctrl.showProductName()" ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><h3 class="title product-title" data-hook="title-wrapper">
    <a data-hook="title">CUSHION COVERS</a>
</h3></product-title><!-- end ngIf: $ctrl.showProductName() -->
        <!-- ngIf: $ctrl.showProductDividers() -->
        <!-- ngIf: $ctrl.showProductPrice() --><product-price data-hook="product-price" ng-if="$ctrl.showProductPrice()" ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><div data-hook="price-wrapper">
    <!-- ngIf: ::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' && $ctrl.ngModel.price !== 0 --><div ng-if="::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' &amp;&amp; $ctrl.ngModel.price !== 0">
            <span class="price" ng-class="::{'is-price-compare': $ctrl.ngModel.formattedComparePrice}" data-hook="price">$29.00</span>
            <!-- ngIf: ::$ctrl.ngModel.formattedComparePrice -->
    </div><!-- end ngIf: ::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' && $ctrl.ngModel.price !== 0 -->
    <!-- ngIf: ::$ctrl.ngModel.inventoryStatus === 'out_of_stock' -->
</div></product-price><!-- end ngIf: $ctrl.showProductPrice() -->
    </div><!-- end ngIf: $ctrl.isProductReal() && $ctrl.isDetailsVisible() -->

    <!-- ngIf: !$ctrl.isProductReal() -->
</div></product-item><!-- end ngRepeat: item in row --><product-item ng-model="item" data-hook="product" class="product-media-container item ng-pristine ng-untouched ng-valid alternate" ng-repeat="item in row" item-index="galleryVM.getProductIndexById()" ng-class="{previewhover : galleryVM.isShowPreview()}"><div class="product-item" data-hook="product-item">
    <!-- ngIf: $ctrl.isProductReal() --><div class="product-media" data-hook="product-media" ng-if="$ctrl.isProductReal()">
        <a section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openProductPage()" section-params="$ctrl.ngModel.id" data-hook="image-link" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/da68874b-e050-6798-5106-9114e4e24d05">

            <product-image ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><!-- ngIf: $ctrl.ngModel.media.length > 0 --><img ng-if="$ctrl.ngModel.media.length > 0" class="media-item active crop" alt="GLASS BOTTLES" ng-src="http://static.wixstatic.com/media/84770f_e5dc9a2b4a414344bb9ddb9425562d4a.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz" data-hook="image" ng-class="$ctrl.getImageModeClass()" src="http://static.wixstatic.com/media/84770f_e5dc9a2b4a414344bb9ddb9425562d4a.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz"><!-- end ngIf: $ctrl.ngModel.media.length > 0 -->

<!-- ngIf: $ctrl.ngModel.media.length > 1 --><img ng-if="$ctrl.ngModel.media.length > 1" class="media-item crop" alt="GLASS BOTTLES" ng-src="http://static.wixstatic.com/media/84770f_c29e1c3231fa4b649aaba5c938cd75d8.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz" data-hook="alternate-image" ng-class="$ctrl.getImageModeClass()" src="http://static.wixstatic.com/media/84770f_c29e1c3231fa4b649aaba5c938cd75d8.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz"><!-- end ngIf: $ctrl.ngModel.media.length > 1 -->

<!-- ngIf: $ctrl.ngModel.media.length === 0 --></product-image>
            <product-ribbon ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><span class="ribbon ng-hide" ng-show="::$ctrl.ngModel.ribbon" data-hook="ribbon">
            <a>
                
            </a>
</span></product-ribbon>
        </a>
            <product-quick-view ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><!-- ngIf: $ctrl.showQuickView() --><div class="overlay" data-hook="open-product" ng-if="$ctrl.showQuickView()">
    <a class="action quickview" section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openQuickView()" section-params="$ctrl.ngModel.id" data-hook="quick-view" translate="QUICKֹֹֹ_VIEW" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/da68874b-e050-6798-5106-9114e4e24d05">QUICK VIEW</a>
</div><!-- end ngIf: $ctrl.showQuickView() --></product-quick-view>
    </div><!-- end ngIf: $ctrl.isProductReal() -->
    <!-- ngIf: $ctrl.isProductReal() && $ctrl.isDetailsVisible() --><div class="product-details" section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openProductPage()" section-params="$ctrl.ngModel.id" data-hook="product-details" ng-if="$ctrl.isProductReal() &amp;&amp; $ctrl.isDetailsVisible()" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/da68874b-e050-6798-5106-9114e4e24d05">

        <!-- ngIf: $ctrl.showProductName() --><product-title data-hook="product-title" ng-if="$ctrl.showProductName()" ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><h3 class="title product-title" data-hook="title-wrapper">
    <a data-hook="title">GLASS BOTTLES</a>
</h3></product-title><!-- end ngIf: $ctrl.showProductName() -->
        <!-- ngIf: $ctrl.showProductDividers() -->
        <!-- ngIf: $ctrl.showProductPrice() --><product-price data-hook="product-price" ng-if="$ctrl.showProductPrice()" ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><div data-hook="price-wrapper">
    <!-- ngIf: ::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' && $ctrl.ngModel.price !== 0 --><div ng-if="::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' &amp;&amp; $ctrl.ngModel.price !== 0">
            <span class="price" ng-class="::{'is-price-compare': $ctrl.ngModel.formattedComparePrice}" data-hook="price">$49.00</span>
            <!-- ngIf: ::$ctrl.ngModel.formattedComparePrice -->
    </div><!-- end ngIf: ::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' && $ctrl.ngModel.price !== 0 -->
    <!-- ngIf: ::$ctrl.ngModel.inventoryStatus === 'out_of_stock' -->
</div></product-price><!-- end ngIf: $ctrl.showProductPrice() -->
    </div><!-- end ngIf: $ctrl.isProductReal() && $ctrl.isDetailsVisible() -->

    <!-- ngIf: !$ctrl.isProductReal() -->
</div></product-item><!-- end ngRepeat: item in row --><product-item ng-model="item" data-hook="product" class="product-media-container item ng-pristine ng-untouched ng-valid alternate" ng-repeat="item in row" item-index="galleryVM.getProductIndexById()" ng-class="{previewhover : galleryVM.isShowPreview()}"><div class="product-item" data-hook="product-item">
    <!-- ngIf: $ctrl.isProductReal() --><div class="product-media" data-hook="product-media" ng-if="$ctrl.isProductReal()">
        <a section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openProductPage()" section-params="$ctrl.ngModel.id" data-hook="image-link" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/9bd132c4-9316-456b-3e71-cda718ef4946">

            <product-image ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><!-- ngIf: $ctrl.ngModel.media.length > 0 --><img ng-if="$ctrl.ngModel.media.length > 0" class="media-item active crop" alt="LAUNDRY BASKET" ng-src="http://static.wixstatic.com/media/84770f_ee111c4ceebc4c67a774cacb3f6fa3fb.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz" data-hook="image" ng-class="$ctrl.getImageModeClass()" src="http://static.wixstatic.com/media/84770f_ee111c4ceebc4c67a774cacb3f6fa3fb.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz"><!-- end ngIf: $ctrl.ngModel.media.length > 0 -->

<!-- ngIf: $ctrl.ngModel.media.length > 1 --><img ng-if="$ctrl.ngModel.media.length > 1" class="media-item crop" alt="LAUNDRY BASKET" ng-src="http://static.wixstatic.com/media/84770f_33ea91c90cb94d519436fc8d39e9cc6b.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz" data-hook="alternate-image" ng-class="$ctrl.getImageModeClass()" src="http://static.wixstatic.com/media/84770f_33ea91c90cb94d519436fc8d39e9cc6b.png_srz_p_250_250_75_22_0.5_1.2_0_png_srz"><!-- end ngIf: $ctrl.ngModel.media.length > 1 -->

<!-- ngIf: $ctrl.ngModel.media.length === 0 --></product-image>
            <product-ribbon ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><span class="ribbon" ng-show="::$ctrl.ngModel.ribbon" data-hook="ribbon">
            <a>
                ON SALE
            </a>
</span></product-ribbon>
        </a>
            <product-quick-view ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><!-- ngIf: $ctrl.showQuickView() --><div class="overlay" data-hook="open-product" ng-if="$ctrl.showQuickView()">
    <a class="action quickview" section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openQuickView()" section-params="$ctrl.ngModel.id" data-hook="quick-view" translate="QUICKֹֹֹ_VIEW" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/9bd132c4-9316-456b-3e71-cda718ef4946">QUICK VIEW</a>
</div><!-- end ngIf: $ctrl.showQuickView() --></product-quick-view>
    </div><!-- end ngIf: $ctrl.isProductReal() -->
    <!-- ngIf: $ctrl.isProductReal() && $ctrl.isDetailsVisible() --><div class="product-details" section-link="$ctrl.getProductSectionId()" section-click="$ctrl.openProductPage()" section-params="$ctrl.ngModel.id" data-hook="product-details" ng-if="$ctrl.isProductReal() &amp;&amp; $ctrl.isDetailsVisible()" href="http://www.wix.com/demone2/home-decor#!product-page/c1u5r/9bd132c4-9316-456b-3e71-cda718ef4946">

        <!-- ngIf: $ctrl.showProductName() --><product-title data-hook="product-title" ng-if="$ctrl.showProductName()" ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><h3 class="title product-title" data-hook="title-wrapper">
    <a data-hook="title">LAUNDRY BASKET</a>
</h3></product-title><!-- end ngIf: $ctrl.showProductName() -->
        <!-- ngIf: $ctrl.showProductDividers() -->
        <!-- ngIf: $ctrl.showProductPrice() --><product-price data-hook="product-price" ng-if="$ctrl.showProductPrice()" ng-model="$ctrl.ngModel" class="ng-pristine ng-untouched ng-valid"><div data-hook="price-wrapper">
    <!-- ngIf: ::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' && $ctrl.ngModel.price !== 0 --><div ng-if="::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' &amp;&amp; $ctrl.ngModel.price !== 0">
            <span class="price is-price-compare" ng-class="::{'is-price-compare': $ctrl.ngModel.formattedComparePrice}" data-hook="price">$39.00</span>
            <!-- ngIf: ::$ctrl.ngModel.formattedComparePrice --><span class="price" ng-if="::$ctrl.ngModel.formattedComparePrice" data-hook="compared-price">$29.25</span><!-- end ngIf: ::$ctrl.ngModel.formattedComparePrice -->
    </div><!-- end ngIf: ::$ctrl.ngModel.inventoryStatus !== 'out_of_stock' && $ctrl.ngModel.price !== 0 -->
    <!-- ngIf: ::$ctrl.ngModel.inventoryStatus === 'out_of_stock' -->
</div></product-price><!-- end ngIf: $ctrl.showProductPrice() -->
    </div><!-- end ngIf: $ctrl.isProductReal() && $ctrl.isDetailsVisible() -->

    <!-- ngIf: !$ctrl.isProductReal() -->
</div></product-item><!-- end ngRepeat: item in row -->
            </li><!-- end ngRepeat: row in galleryVM.products | chunk: galleryVM.getColumns() -->
        </ul>

		<button class="button load-more ng-hide" transactioned-action="galleryVM.loadMoreProducts($event)" data-hook="load-gallery-items" ng-show="galleryVM.showLoadMore()" translate="LOAD_MORE_BUTTON">LOAD MORE</button>
	</section>
	<!-- Fin tienda -->
	
	
	
			<!--footer-->
		<div class="footer">
			<div class="ft-top">
				<div class="container">
					<div class="linksFooter col-xs-12 col-md-3">
						<ul>
							<li><a href="#" class="">Empresa</a></li>
							<li><a href="#" class="">Trabaja con nosotros</a></li>
							<li><a href="#" class="">Fundacion</a></li>
											</ul>
					</div>
					<div class="linksFooter col-xs-12 col-md-3">
						<ul>
						<li><a href="#" class="">Soporte Tecnico</a></li>
							<li><a href="#" class="">Site map</a></li>
							<li><a href="#" class="">Politica de privacidad</a></li>
							<li><a href="#" class="">Cookies</a></li>
						</ul>
					</div>
					<div class="aceptamos col-xs-12 col-md-3">
						<ul>
							<li><img src="https://static.wixstatic.com/media/cda177_66112d8828944365b8a0fb3f95e423a0.png/v1/fill/w_32,h_20,al_c,usm_0.66_1.00_0.01/cda177_66112d8828944365b8a0fb3f95e423a0.png"/></li>
								<li><img src="https://static.wixstatic.com/media/cda177_0292d75330eb4c46819ebd76e2b71edd.png/v1/fill/w_34,h_22,al_c,usm_0.66_1.00_0.01/cda177_0292d75330eb4c46819ebd76e2b71edd.png"/></li>
								<li><img src="https://static.wixstatic.com/media/cda177_ae6aa613f4e049c697544cc8c8375ea2.png/v1/fill/w_33,h_21,al_c,usm_0.66_1.00_0.01/cda177_ae6aa613f4e049c697544cc8c8375ea2.png"/></li>
								<li><img src="https://static.wixstatic.com/media/cda177_91a1dcd4c6d44674acf4a562b09838f6.png/v1/fill/w_35,h_22,al_c,usm_0.66_1.00_0.01/cda177_91a1dcd4c6d44674acf4a562b09838f6.png"/></li>
						</ul>
					</div>
					<div class="social-media col-xs-12 col-md-3">
						<ul>
							<li><a href="#" class="ftfb"></a></li>
							<li><a href="#" class="fttwt"></a></li>
							<li><a href="#" class="ftinst"></a></li>
							<li><a href="#" class="ftdrib"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="ft-bottom">
				<div class="container">
					<p>RubenRodriguez | YesicaRojas | NasimBousaidi</p>
				</div>
			</div>

            <!-- script para el triangulo que lleva al header -->
			 <script type="text/javascript">
                    $(document).ready(function() {
                        /*
                        var defaults = {
                            containerID: 'toTop', // fading element id
                            containerHoverID: 'toTopHover', // fading element hover id
                            scrollSpeed: 1200,
                            easingType: 'linear' 
                        };
                        */

                        $().UItoTop({ easingType: 'easeOutQuart' });

                    });
                </script>
                  <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
                </div>
		<!--Fin del footer-->
</body>
<!--body-->
</html>