/*
 * ----------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE" (Revision 42):
 * Ruben, Nasim, and Julian wrote this file. As long as you retain this notice you
 * can do whatever you want with this stuff. If we meet some day, and you think
 * this stuff is worth it, you can buy us a beer in return
 * ----------------------------------------------------------------------------
 */

/************************************************/
/*                   fuente                     */
/************************************************/
@font-face {
    font-family: "white army";
    src: url("../fonts/white_army/WhiteArmy.ttf");
}
/************************************************/
/*                   estilos generales          */
/************************************************/
body {
    font-family: "Verdana";
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    color: #000;
}
h1 {
    font-family: "white army";
    font-size: 4rem;
}
.cabecera {
    height: 225px;
}
h1.logo {
    font-family: "white army";
    font-size: 6rem;
    color: #0b1064;
    position: absolute;
    top: 25%;
    bottom: 25%;
}
img.img-logo {
    height: 225px;
}
h2 {
    font-family: "white army";
    font-size: 2.5rem;
}
h3 {
    font-family: "white army";
    font-size: 2rem;
}
a {
    color: #0b1064;
}
p {
    font-size: 1rem;
}
.noPadding {
    padding: 0px;
}
/*.cortar {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}*/

/* esta clase desplaza todo hacia abajo desde el div de breadcrumbs, solucion temporal para que el header no pase por encima de los contenidos */
.desplazado {
    margin-top: 226px;
}
@media (max-width: 992px) {
.desplazado {
    margin-top: 51px;
  }
}
@media (max-width: 768px) {
.desplazado {
    margin-top: 1px;
  }
}
/************************************************/
/*                   colores                    */
/************************************************/
.fondoAzulOscuro {
    background-color: #0b1064;
}
.fondoAzulMedio {
    background-color: #002dc2;
}

/************************************************/
/*                   breadcrumbs                */
/************************************************/
.breadcrumb {
    font-size: 1rem;
    color: #0b1064;
    background-color: #fff;
    margin-bottom: 0px;
}
.breadcrumb > .active {
    color: #000;
}
.breadcrumb > li {
    display: inline-block;
}

/************************************************/
/*                   footer                     */
/************************************************/
footer {
    font-size: 1rem;
    text-align: center;
    padding: 10px 0px;
    background-color: #002dc2;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}
footer a:hover,
footer a:active {
    color: #fff;
}
/************************************************/
/*                   menu                       */
/************************************************/
/* estilo del navbar */
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    color: #fff;
    background-color: #0b1064;
    margin-right: -15px;
}
ul.nav.navbar-nav {
    border: 2px solid #0b1064;
    margin-left: 13px;
}

/* estilo del hueco para home/nombre de la pagina (brand) y los botones (links) del menu */
.navbar-default .navbar-nav > li > a ,
.navbar-default .navbar-brand,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    font-size: 2.5rem;
    font-family: "white army";
    color: #fff;
    background-color: #0b1064;
    /* top: 0px; */
}
.navbar-brand {
    padding: 9px;
    width: 260px;
    border: 1px solid #0b1064;
    height: 54px;
}
/* estilo del hueco para home/nombre pagina (brand) y los botones (links) del menu cuando se hace hoover o esta activo */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #0b1064;
    background-color: #fff;
}
/* El boton de menu que aparece en movil cuando hace collapse*/
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #002dc2;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

/* las opciones del desplegable del menu */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #0b1064;
    background-color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
    background-color: #002dc2;
    
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #002dc2;
    background-color: #fff;
    
}

.dropdown-menu > li > a,
.dropdown-menu > li > a {
    color: #fff;
    background-color: #0b1064;
    
}
.dropdown-menu,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    font-size: 1em;
    color: #0b1064;
    background-color: #fff;
    
}

/* para cuadrar cuando pasa a collapse */
.navbar-collapse .collapse {
    margin-left: -15px;
}

/* ==========================================================================
    Hoja de estilos para web Vinoteca
    Autor: Julian Guijarro
    Esta hoja modifica los estilos de bootstrap para adecuarlos a los
    requisitos de diseÃ±o de la web Vinoteca.
    Sientete libre de copiarla, o modificarla a tu gusto.
   ========================================================================== */

/************************************************/
/*                   botones                    */
/************************************************/
.boton {
    bottom: 0%;
}
.divboton {
    text-align: right;
    height: 100%;
    padding: 10px 0px;
}
.divboton::after {
    content:" ";
    margin-left: 5px;
}
.btn {
    font-weight: bolder;
    font-size: 2rem;
}
.btn-default {
    color: #FC9;
    background-color: #300;
    border-color: #FC9;
    position: relative;
    right: 10px;
    bottom: 10px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #300;
    background-color: #FC9;
    border-color: #300;
}








/************************************************/
/*                   slider                     */
/************************************************/
.zonaCarrusel {
    /* border: 1px solid #300; */
    margin-bottom: 10px;
}
/*http://bootsnipp.com/snippets/featured/bootstrap-carousel-with-text*/
/* Carousel Indicators */
.carousel-indicators li {
    background-color: #300;
    border: none;
}
.carousel-indicators .active {
    background-color: #FC9;    
}
/* Carousel Image */
.carousel-inner img {
    display: block;
    width: 100%;
}
/* Carousel controls */
.carousel-control {
    width: 0;
}
.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
/*	position: absolute;
	top: 45%;
	z-index: 5;*/
	display: inline-block;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 35px;
}
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 35px;
}
.carousel-control.left span,
.carousel-control.right span {
	background-color: #300;
        color: #FC9;
}
.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}
/* Carousel Header Styles */
.header-text {
/*    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;*/
    width: 95%;
    height: 100%;
}

/************************************************/
/*                   Buscador                   */
/************************************************/
.buscador {
    /* border: 1px solid #300; */
    box-shadow: 0px 0px 30px #300;
    padding: 10px;
    margin: 0px 0px 30px 0px;
    font-size: 2rem;
}
/*select:-internal-list-box option {
    background-color: blue;
    color: red;
}
select:-internal-list-box option:checked {
    background-color: blue;
    color: red;
}*/

/************************************************/
/*                   fichaPortada             */
/************************************************/
.fichaPortada {
    /* border: 1px solid #300; */
    box-shadow: 0px 0px 30px #300;
    padding: 40px;
    margin: 10px;
    min-height: 350px;
}

/************************************************/
/*                   fichaVinos                 */
/************************************************/
div.fichaVino {
	padding: 10px;
	margin: 0px;
	min-height: 300px;
}
div.fichaVino:hover {
    box-shadow: 0px 0px 30px #FC9;
    border-radius: 10px;
}
.fichaVino div > h2 {
    font-size: 3rem;
}
.fichaVino div > h3 {
    font-size: 2rem;
}
/************************************************/
/*                   paginator                  */
/************************************************/

.pagination > li > a,
.pagination > li > span {
    background-color: #300;
    color: #FC9;
    font-size: 1.5rem;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #300;
    background-color: #FC9;
}

/************************************************/
/*                   fichaDetalleVino           */
/************************************************/
/*.fichaDetalleVino {
    border: 1px solid #300;
    box-shadow: 5px 5px 5px #300;
    padding: 40px;
    margin: 10px;
    min-height: 350px;
}
 estilos para botones 
.boton {
    bottom: 0%;
}
.divboton {
    text-align: right;
    padding: 10px 0px;
}*/